body {
  height: 0 !important;
}

p, input, a, button{
  font-family: 'Athiti';
}

.mat-form-field {
  width: initial !important;
}

input, select {
  background: #E8E2DC;
  padding: 8px;
  border: white;
  border-radius: 10px;
}

mat-form-field {
  margin-top: -1.25em;
  margin-bottom: -1.25em;
  width: 100%;
}

.amount {
  text-align: center;
}

button {
  font-family: 'Athiti';
  letter-spacing: 0px;
  padding: 30px 45px;
  border-radius: 10px;
}

.mx-6 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.cancel-bt {
  background-color: #D9D9D9 !important;
}

.confirm-bt {
  background-color: #87F58B !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  max-height: 55px !important;
  background-color: #E8E2DC !important;
  border: none !important;
  border-radius: 10px !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height:0 !important;
}

::ng-deep .mdc-notched-outline>* {
  border-color: white !important;
}

.mat-mdc-option, .mat-mdc-select {
  font-size: 1.5rem !important;
  font-family: 'Athiti' !important;
}

//phone screen
@media only screen and (max-width: 576px) {
  .confirm-bt, .cancel-bt {
    margin-left: 20%;
    padding: 30px 100px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 426px) {
  .confirm-bt,
  .cancel-bt {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 376px) {
  .confirm-bt,
  .cancel-bt {
    margin-right: 10%;
    padding: 30px 80px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .confirm-bt,
  .cancel-bt {
    margin-left: 5%;
    padding: 30px 60px;
    margin-bottom: 20px;
  }
}

//tablet screen
@media only screen and (min-width: 768px) {
  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 90% !important;
  }

  .amount-section {
    margin-top: -20px;
  }
}

@media (max-device-width:767px) and (max-device-width:1024px) {
  .company-label {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .amount-section {
    margin-top: 0px;
  }

  .role-label {
    margin-bottom: 30px;
  }

  .mx-6 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

//laptop screen
@media only screen and (min-width: 992px) {
  ::ng-deep .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
}

@media only screen and (min-width: 1113px) {
  .company-label {
    width: 220px;
  }

  .company-selector {
    width: 98.5%;
  }
}

@media only screen and (min-width: 1200px) {
  .company-label {
    margin-right: 35px;
  }

  .company-selector {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {

  .company-selector {
    width: 105.25%;
  }
}

.nav-logo {
  height: 25px;
  width: 25px;
}

.fw-500 {
  font-weight: 500;
}

